.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 800px;
    height: 113px;
    background-color: yellow;
    
}

.banner__image{
    width: 84px;
    height: 84px;
    
}

.banner__title{

    margin-left: 20px;
    margin-top: 20px;
    font-family: Minecraft;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #000000;
}

.barraNav{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    width: 800px;
    height: 57px;
    background: #000000;
    border: 5px solid #000000;
    box-sizing: border-box;
    
}

.barraNav__navHome{
    width: 131px;
    height: 57px;
    left: 127px;
    margin-top: 35px;
    font-family: Minecraft;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;

    color: white;
}

.barraNav__navAbout{

    width: 131px;
    height: 57px;
    left: 127px;
    margin-top: 35px;
    font-family: Minecraft;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
  
    color: white;
}

.barraNav__navHistoria{

    width: 131px;
    height: 57px;
    left: 127px;
    margin-top: 35px;
    font-family: Minecraft;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;

    
    color: white;
}

.barraNav__navGaleria{

    width: 131px;
    height: 57px;
    left: 127px;
    margin-top: 35px;
    font-family: Minecraft;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;

    
    color: white;
}

.imagenNav {
    width: 800px;
    height: 530px;
    
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 78.12%, #000000 94.79%), url(imagenes/BlancoynegroEdi.png);
}