.announcement{
    
    position: fixed;
    bottom: 10px;
    left: 10px;
    
    &__image{
        max-width: 500px;
        width: 50%;
    }
    
    &__imageButton{
        margin-left: -70px;
        margin-top: 30px;
        max-width: 30px;
        width: 100%;
        position: absolute;
    }
}