.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 113px;
    background-size: 800px, 113px;
    background-image: url(/Imagenes/cuadradosWeb.png);
    
}

.banner__image{

    max-width: 84px;
    max-height: 84px;
    width: 100%;
    
}

.banner__title{

    max-width: 285px;
    max-height: 52px;
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
    font-family: Minecraft;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #000000;
}

@media screen and (max-width: 800px) {
    .banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
}