.fullPage { //esto no se toca y seria para pagina web
    display: flex;
    width: 100%;  
    flex-direction: column;
    background-color: black;
    align-items: center;
    
    
}

@media (max-width: 768px) {
    //cuando mi pantalla tiene una medida hacer esto.....
    .fullPage{
        width: 100vw;
    }
    
}