.fullPage{
    display: flex;
    flex-direction: column;
    background-color: black;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin-left: -8px;
    margin-top: -8px;
}