.gallery{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 800px;
    height: 750px;
    background-color: #000000;

    &__title{
        display: flex;
        font-family: Minecraft;
        font-style: normal;
        font-size: 36px;
        color: white;
        width: 900px;
        justify-content: space-around;
        align-items: center;
    
        &__zombie{
            width: 84px;
            height: 119px;
        }
    }

    &__content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        width: 744px;
        height: 535px;
        background-size: 744px 535px;
        background-image: url(/Imagenes/marcosGrandes5.png);

        &__image{
            width: 90px;
            
        }
    }
}




