.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 750px;
    background-color: #000000;
}

.galeria__titulo{
    position: absolute;
    font-family: Minecraft;
    font-style: normal;
    top: 1900px;
    font-weight: 500;
    font-size: 36px;
    color: white;
}

.galeria__titulo__zombie{
    left: -120px;
    top: -45px;
    position: absolute;
    width: 84px;
    height: 119px;
}

.galeria__titulo__zombie2{
    right: -115px;
    top: -45px;
    position: absolute;
    width: 84px;
    height: 119px;
}

.galeria__contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.galeria__contenido__marco{
    width: 744px;
    height: 535px;
    top: 60px;
    position: relative;
}