.historia{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
    background-size: 900px;
    background-image: linear-gradient(180deg, #000000 15.1%, rgba(0, 0, 0, 0) 21.35%, rgba(0, 0, 0, 0) 78.12%, #000000 100%), url(/Imagenes/blancoyNegro2.png);

}

.historia__titulo{
    position: absolute;
    font-family: Minecraft;
    font-style: normal;
    top: 1200px;
    font-weight: 500;
    font-size: 36px;
    color: white;

}

.historia__titulo__zombie{
    position: absolute;
    left: -120px;
    top: -45px;
    width: 84px;
    height: 119px;
}

.historia__titulo__zombie2{
    position: absolute;
    right: -115px;
    top: -45px;
    width: 84px;
    height: 119px;
}

.historia__contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    
    
}

.historia__contenido__bloque{
    justify-content: center;
    flex-direction: row;
    align-items: baseline;

}

.historia__contenido__bloque__textoHistoria{
    font-family: Minecraft;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    position: absolute;
    text-align: center;
    left: 180px;
    top: 60px;
}

.historia__contenido__calavera{
    position: relative;
    top: -90px;
    width: 121px;
    height: 121px;
}

.historia__contenido__marco{
    width: 478px;
    height: 343px;
    top: 30px;
    position: relative;
    
}

.historia__contenido__calavera2{
    position: relative;
    top: -90px;
    width: 121px;
    height: 121px;
}