@import "title";
@import "banner";
@import "barrasNav";
@import "imageNav";
@import "history";
@import "about";
@import "gallery";
@import "apoyanos";
@import "contact";
@import "footer";

.todaPag{
    display: flex;
    flex-direction: column;
    background-color: black;
    align-content: center;
    justify-content: center;
    width: 990px;
    margin-left: -8px;
    margin-top: -8px;
}





